@model IEnumerable<OnlineTicketBookingSystem.Models.Booking>

@{
    ViewBag.Title = "GetAllTktDetails";
}

<h2>Get All Ticket Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Moviename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatRow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seatnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Moviename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatRow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seatnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>
